.wpcf7-list-item-label {
  padding-left: 10px;
}

span.wpcf7-not-valid-tip {
  padding-left: 5px;
}

.x-alert, .wpcf7-response-output, .buddypress #message, .bbp-template-notice
{border-left: 5px solid #ff0303;
    color: #ffffff;
    background-color: #c70000;}

span.wpcf7-not-valid-tip {background-color:orangered; color:white;}