body, p, input, select, textarea {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }

body {
  color: #464646; }

p {
  margin-bottom: 2rem; }

h1.page-title {
  text-align: center;
  font-size: 2.25rem;
  color: #666666; }

body {
  background-color: #f3f3f3; }

#main {
  background-color: #ffffff; }

#content-outer {
  padding: 2rem 0;
  font-size: 1.12rem; }
  @media (min-width: 576px) {
    #content-outer {
      padding: 2rem 1rem; } }
  @media (min-width: 768px) {
    #content-outer {
      padding: 3.15rem 4.5rem; } }

#content {
  padding: 0 1rem; }
  @media (min-width: 576px) {
    #content {
      padding: 0 2rem; } }
  @media (min-width: 768px) {
    #content {
      padding: 0 4.6rem; } }
  @media (min-width: 768px) {
    #content.obras {
      padding: 0 3.9rem; } }

.container-fluid, .container {
  max-width: 1400px !important; }

body.offcanvas-active {
  overflow: hidden; }

@media (min-width: 768px) {
  .mobile-offcanvas {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0; }
    .mobile-offcanvas > .container-fluid {
      height: 100%; }
    .mobile-offcanvas .navbar-nav {
      width: 100%;
      height: 100%; }
    .mobile-offcanvas .nav-item {
      min-width: 10vw;
      height: 100%;
      display: flex;
      flex: 1 1 0;
      align-items: center;
      justify-content: center;
      border-top: 2px solid transparent;
      transition: all 0.3s ease-in-out; }
      .mobile-offcanvas .nav-item:hover {
        border-color: #ffffff;
        background-color: rgba(79, 85, 95, 0.49);
        transition: all 0.3s ease-in-out; }
    .mobile-offcanvas .nav-link {
      padding-left: 2rem;
      padding-right: 2rem;
      font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
      font-size: 0.85em;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #fff; }
      .mobile-offcanvas .nav-link.active {
        font-weight: 700; }
    .mobile-offcanvas .dropdown-menu {
      width: 15em;
      font-size: 16px;
      background-color: #2980b9;
      box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25); }
      .mobile-offcanvas .dropdown-menu .dropdown-item {
        border-top: 2px solid rgba(255, 255, 255, 0.15);
        font-size: 1em;
        padding: 0.5rem 1rem;
        color: #ffffff; }
        .mobile-offcanvas .dropdown-menu .dropdown-item:hover {
          background-color: #368dc5; }
      .mobile-offcanvas .dropdown-menu li:first-child .dropdown-item {
        border-top: none; } }

@media (max-width: 767.98px) {
  .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
    background-color: #162536; }
    .mobile-offcanvas.show {
      visibility: visible;
      transform: translateX(0); }
    .mobile-offcanvas .container, .mobile-offcanvas .container-fluid {
      display: block; }
  .nav-link {
    color: #ffffff; } }

.screen-darken {
  height: 100%;
  width: 0;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity .2s linear, visibility 0.2s, width 2s ease-in; }
  .screen-darken.active {
    z-index: 10;
    transition: opacity .3s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible; }

#header {
  height: 4em;
  font-size: 16px;
  background-color: #162536;
  display: flex; }
  @media (min-width: 576px) {
    #header {
      height: 6em; } }
  #header .navbar-brand {
    padding-top: 1rem;
    padding-left: 1rem; }
    #header .navbar-brand img, #header .navbar-brand .svg {
      height: auto;
      max-width: 150px; }
      @media (min-width: 576px) {
        #header .navbar-brand img, #header .navbar-brand .svg {
          max-width: unset; } }
    @media (min-width: 576px) {
      #header .navbar-brand {
        padding-left: 5.5rem; } }

.trigger-offcanvas {
  height: 28px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
  position: absolute;
  top: 15px;
  right: 20px;
  border: none;
  background-color: transparent; }
  @media (min-width: 576px) {
    .trigger-offcanvas {
      top: 2rem; } }

.trigger-offcanvas span {
  display: block;
  background: #ffffff;
  width: 100%;
  height: 3px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%; }

.trigger-offcanvas:before,
.trigger-offcanvas:after {
  content: "";
  display: block;
  background: #ffffff;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease; }

.trigger-offcanvas:before {
  top: 2px;
  margin-top: -2px; }

.trigger-offcanvas:after {
  bottom: 2px;
  margin-bottom: -2px; }

footer#footer {
  padding: 4em 8.5vw 4em 8.5vw;
  font-size: 16px;
  background-color: #ffffff;
  box-shadow: 0 0.15em 2em rgba(0, 0, 0, 0.15);
  z-index: 10; }
  footer#footer .footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
    font-size: 1em; }
    footer#footer .footer-menu a {
      display: inline-block;
      padding: 0 1rem;
      text-decoration: none;
      font-size: 1em;
      font-weight: 700;
      line-height: 1;
      color: rgba(0, 0, 0, 0.75); }
  footer#footer #copyright {
    text-align: center;
    padding: 1.25em;
    font-size: 0.75em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.35); }

#cookies-toast {
  color: #536e90;
  padding: 15px;
  background-color: #f7f7f7;
  text-align: center; }
  #cookies-toast .btn {
    font-family: sans-serif;
    line-height: 18px;
    padding: 2px 12px;
    background: linear-gradient(to bottom, #fefefe, #f4f4f4) repeat scroll 0 0 #f3f3f3;
    border: 1px solid #bbb;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
    outline: 0; }

.preamble {
  margin-top: 1.1rem;
  margin-bottom: 4.5rem;
  font-size: 1.4rem; }
  .preamble .row {
    border-top: 1px solid #f2f2f2;
    padding-top: 1rem;
    padding-bottom: 1rem; }

#home-hero {
  background-color: #d2d8e1;
  margin-bottom: 3rem;
  padding: 1rem 1rem; }
  @media (min-width: 576px) {
    #home-hero {
      padding: 45px 70px; } }
  #home-hero .hero-inner {
    border: 1px solid #ffffff;
    padding: 1rem 1.56em;
    text-align: center;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #931010; }
    @media (min-width: 576px) {
      #home-hero .hero-inner {
        padding: 3rem 1.56em;
        font-size: 1.4em; } }
  #home-hero p {
    margin: 0; }

.toc {
  margin-top: 1rem; }
  @media (min-width: 576px) {
    .toc {
      margin-top: 5.2rem; } }
  .toc .row {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-top: 1px solid #f2f2f2; }
    .toc .row:first-child {
      border: none; }
  .toc .col-sm-4 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center; }
    @media (min-width: 576px) {
      .toc .col-sm-4 {
        padding-top: unset;
        padding-bottom: unset; } }
  .toc h2 {
    margin-top: 3rem;
    font-size: 2.5rem; }
    @media (min-width: 576px) {
      .toc h2 {
        font-size: 3.2rem; } }
  .toc ul {
    margin: 0 0 0 0.5rem; }
  .toc .btn {
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #3c609a;
    border-radius: 0;
    padding: 0.563em 1.125em 0.813em;
    cursor: pointer;
    font-size: 16px;
    font-weight: inherit;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    transition: all 0.15s linear;
    color: #ffffff;
    background-color: #6687b7;
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25em 0 0 #334c75, 0 4px 9px rgba(0, 0, 0, 0.75); }
    .toc .btn:hover {
      border-color: #3669d9;
      background-color: #3a73ee;
      box-shadow: 0 0.25em 0 0 #3669d9, 0 4px 9px rgba(0, 0, 0, 0.75); }
